.ekart-search-product{
    /* display:flex;
    justify-content: center;
    align-items: center;
    padding-top:30px; */
    margin:20px auto;
    text-align: center;
}
.ekart-search-product-input{
    width:40%;
    height:4.5vh;
    padding:1px 10px;
    border-radius: 2px;
    color:#28282B;
    border:#28282B 1.5px solid;  
}
.btn{
    padding:5px 10px;
    border:none;
}
.btn-search{
    padding: 11.5px 30px;
    background-color:#28282B ;
    color:#fff;
    margin-left:-5px;

}
.btn-search-disabled{
    padding:12px 30px;
    background-color: #aaa;
    margin-left:-1px;
    color:#999;
    border: #aaa 1px solid;
    cursor:not-allowed;

}
.ekart-search-result-for{
   margin:20px auto;
   padding:10px 140px;
}